html, body{
	margin: 0;
	.contentWrapper{
		overflow: hidden;
		position: relative;
		height: 1000px;
		display: flex;
		flex-direction: column;
		border: solid green 3px;
		overflow-y: hidden;
		#header{
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: darkblue;
			color: white;
			width: 100%;
			position: relative;
		}
		#section{
			border: solid blue 2px;
			padding-left: 200px;
			padding-right: 200px;
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow-y: hidden;
			h1{
				padding: 50px 0 50px 0;
			}
		}
		.articlesAndAsideWrapper{
			display: flex;
			flex-direction: row;
			position: relative;
			height: 100%;
			overflow-y: hidden;

			#sidebar{
				height: 600px;
				background-color: darkcyan;
				flex: 0.3;
				margin-left: 100px;
				position: relative;
			}
			.articlesWrapper{
				position: relative;
				flex: 1;
				border: solid red 2px;
				overflow-y: hidden;
				.articleWrapper{
					display: flex;
					margin-bottom: 100px;
					align-items: center;
					article{
						flex: 1;
						margin-right: 50px;
					}
					aside{
						flex: 1;
						margin-left: 50px;
						img{
							width: 100%
						}
					}
				}
			}
		}

	}
}